@using TimetableHelper.Models
@if (data == null)
{
    <p><em>Načítání...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @for(int i = 0; i < 11; i++)
                {
                    <th>@i</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var day in data)
            {
                <tr>
                    <td>@day.Name</td>
                    @for (int i = 0; i < day.Lessons.Length; i++)
                    {
                        @if(day.Lessons[i] == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public TimetableDay[]? data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //days = LoadTimeTableDays();
    }
}
