<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rozvrhář</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Domů
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classes" Match="NavLinkMatch.All">
                <span class="bi bi-clipboard-fill" aria-hidden="true"></span> Třídy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students" Match="NavLinkMatch.All">
                <span class="bi bi bi-people-fill" aria-hidden="true"></span> Studenti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms" Match="NavLinkMatch.All">
                <span class="bi bi-door-closed-fill" aria-hidden="true"></span> Učebny
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

