@page "/classes/details"
@using Microsoft.EntityFrameworkCore
@using TimetableHelper.Models
@inject IDbContextFactory<TimetableHelper.Data.TimetableHelperContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Class</h2>
    <hr />
    @if (clas is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@clas.Name</dd>
            <dt class="col-sm-2">Grade</dt>
            <dd class="col-sm-10">@clas.Grade</dd>
        </dl>
        <div>
            <a href="@($"/classes/edit?id={clas.Id}")">Edit</a> |
            <a href="@($"/classes")">Back to List</a>
        </div>
    }
</div>

@code {
    private Class? clas;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        clas = await context.Class.FirstOrDefaultAsync(m => m.Id == Id);

        if (clas is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
