@page "/classes"
@using TimetableHelper.Models
<PageTitle>Třídy</PageTitle>
<h2>Třídy</h2>
<button onclick="AddClasses" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Přidat třídy</button>
@if (classes == null || classes.Count() == 0)
{
    <p>Zatím nebyli přidáni žádné třídy. Pro přidání použijte tlačítko výše.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Název</th>
                <th>Ročník</th>
                <th>Počet studentů</th>
                <th>Vytvořený rozvrh</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clas in classes)
            {
                <tr>
                    <td>@clas.Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Class>? classes;
}
