@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Domů</PageTitle>

<div class="container d-flex align-items-center justify-content-center py-5">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="fw-bold text-primary home-text">Vítejte v rozvrháři!</h1>
            <p class="lead text-muted">Aplikaci pro snadné plánování rozvrhů</p>
            <img src="assets/home.jpg" class="img-fluid mt-3" alt="Ilustrace rozvrhu" style="width: 70%;">
        </div>
        <div class="col-lg-6">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <h3 class="fw-semibold text-dark">Jak vytvořit rozvrh:</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>1.</b> Vytvořte třídy a skupiny studentů.</li>
                        <li class="list-group-item"><b>2.</b> Přidejte studenty (manuálně nebo importem).</li>
                        <li class="list-group-item"><b>3.</b> Přiřaďte studenty do tříd a skupin. (importovaní jsou přiřazení)</li>
                        <li class="list-group-item"><b>4.</b> Přidejte učitele a učebny.</li>
                        <li class="list-group-item"><b>5.</b> Vytvořte předměty. (na obrazovkách tříd a skupin)</li>
                        <li class="list-group-item"><b>6.</b> Zkontrolujte úvazky učitelů.</li>
                        <li class="list-group-item"><b>7.</b> Přidávejte jednotlivé hodiny do rozvrhu.</li>
                        <li class="list-group-item"><b>8.</b> Nakonec zkontrolujte u každé třídy, že nezbývá nic přidat a je hotovo!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
