@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Domů</PageTitle>

<div class="container">
    <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="zoom-out">
            <h1>Vítejte v rozvrháři!</h1>
            <p>Aplikaci pro usnadnění tvorby rozvrhů</p>
        </div>
        <div class="col-lg-6">
            <img src="assets/home.jpg" class="home-img" alt="">
        </div>
    </div>
</div>