@page "/students"
@using Microsoft.EntityFrameworkCore
@using TimetableHelper.Components.Widgets
@using TimetableHelper.Models
@inject IDbContextFactory<TimetableHelper.Data.TimetableHelperContext> DbFactory
@inject NavigationManager NavigationManager
<PageTitle>Studenti</PageTitle>
<h2>Studenti</h2>
<button @onclick="OpenAddModal" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Přidat studenta</button>
@if (students == null || students.Count() == 0)
{
    <p>Zatím nebyli přidáni žádní studenti. Pro přidání použijte tlačítko výše.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Třída</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@*@student.ClassName*@</td>
                </tr>
            }
        </tbody>
    </table>
}
<CascadingValue Value="@newStudent">
    <AddModal @ref=modal SaveMethod="AddStudent">
        <Title>Přidat studenta</Title>
        <Body>
            <div class="mb-3">
                <label>
                    Jméno
                    <input class="form-control" @bind="newStudent.Name" />
                </label>
            </div>
        </Body>
    </AddModal>
</CascadingValue>

@code {
    List<Student>? students;
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        students = await context.Student.ToListAsync();
    }

    private AddModal modal;
    public Student newStudent = new Student();
    private void OpenAddModal()
    {
        newStudent = new Student();
        modal.Open();
    }
    private async void AddStudent(object body)
    {
        using var context = DbFactory.CreateDbContext();
        await context.Student.AddAsync(newStudent);
        context.SaveChanges();
        modal.Close();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}
