@page "/timetables"
<h2>Rozvrhy</h2>
<div class="row">
    <div class="col-sm">
        <select class="form-select mb-3" aria-label="Výběr třídy">
            <option selected>Vybrat třídu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm">
        <select class="form-select mb-3" aria-label="Výběr učebny">
            <option selected>Vybrat učebnu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm">
        <select class="form-select mb-3" aria-label="Výběr učitele">
            <option selected>Vybrat učitele</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
@code {

}
